* text=auto eol=lf

*.gd    text eol=lf
*.tscn  text eol=lf
*.tres  text eol=lf
*.md    text eol=lf
*.json  text eol=lf
*.cfg   text eol=lf
*.import text eol=lf

*.png   binary
*.jpg   binary
*.jpeg  binary
*.svg   binary
*.ttf   binary
*.otf   binary
*.wav   binary
*.ogg   binary
*.mp3   binary
*.stex  binary
*.ctex  binary

/** export-ignore
/addons/      !export-ignore
/addons/** !export-ignore

README.md     !export-ignore
LICENSE       !export-ignore

.gitattributes export-ignore
.gitignore     export-ignore
.github/       export-ignore